<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ipl score predictor</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>
                IPL SCORE PREDICTOR
            </h1>
            <div class="btn">
                    <a href="/home">GO FOR PREDICTION</a>
            </div>
        </div>
    </div>
</body>
</html>